.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  color: #fff;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.dashboard-card-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.dashboard-card {
  background: #0f172a;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  min-width: 280px;
  flex: 1;
}

